@import '../../../styles/base.scss';

.breadcrumb {
  ul {
    list-style: none; 

    li {
      display: inline;

      &::after {
        padding: 10px;
        content: '>>';
      }

      &:last-child {
        &::after {
          content: '';
        }
      }

      a {
        text-decoration: none;
      }
    }
  }
}

.breadcrumb__home {
  a i {
    color: $primary-green;
  }
}