@import '../../../styles/base.scss';

.status {
  display: inline-block;
  margin: 2em 0;

  ul {
    list-style: none;

    li {
      display: inline-block;
      padding: 7px 20px;
      margin: 0 5px;
      border-top: 5px solid #DDD;
      width: 250px;
      text-align: center;
      color: #888;

      &:first-child {
        margin-left: 0;
      }

      &.status__done {
        border-color: $primary-green;
        color: $primary-green;
      }
    }
  }
}

.order-detail__content {
  display: flex;
}

.order-detail__content__products {
  flex: 6;
}

.order-detail__content__info {
  flex: 2;
  margin-left: 2em;

  .order-detail__content__info__data {
    padding: 20px;
    background: #F5F5F5;
    margin-bottom: 1em;
  }

  h3 {
    text-transform: uppercase;
  }

  .title {
    font-weight: 500;
    min-width: 150px;
  }

  .order-detail__content__info__data__item {
    display: flex;
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis;
    
    p {
      margin-bottom: 5px;

      a {
        display: block;
        width: 120px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

  }
}