@import '../../../styles/base.scss';

header {
  position: relative;
  background: $dark-green;
  display: flex;
  flex-direction: row;
  color: $light-grey;
  border-radius: 0 0 25px 25px;
  height: $menu-height;
  z-index: 10000;
}


.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 2em;

  ul {
    list-style: none;

    li {
      display: inline;

      a {
        text-transform: uppercase;
        text-decoration: none;
        padding: 20px;
        color: $light-grey;
      }
    }

    li.main-menu__sign-in {
      a {
        color: $primary-green;
      }
    }
  }
}