@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,500,700');

$font-family: 'Poppins', sans-serif;

$dark-green: #27322F;
$light-grey: #E8E8E8;
$text-color: #222;
$primary-green: #06CE90;
$red: #F37A7A;

$base-size: 15px;
$menu-height: 89px;